{% layout 'alt-theme' %}

<div class="fake-header">
  <a href="/index">
    <div class="fake-logo"></div>
  </a>
  <a href="javascript:history.back()" class="sub-menu-button">Меню</a>
</div>

<div class="main">
  <h2 class="page-heading">Бренды:</h2>
  <ul class="brands-list">
    <li class="brands-list-element"><a href="/collections/other-objects" class="brands-link">Other Objects</a></li>
    <li class="brands-list-element"><a href="/collections/sub-rosa" class="brands-link">Sub Rosa</a></li>
    <li class="brands-list-element"><a href="/collections/black-form" class="brands-link">Black.Form</a></li>
    <li class="brands-list-element"><a href="/collections/not-concept" class="brands-link">Not Concept</a></li>
    <li class="brands-list-element"><a href="/collections/perfert" class="brands-link">Perfert</a></li>
    <li class="brands-list-element"><a href="/collections/1991" class="brands-link">1991</a></li>
    <li class="brands-list-element"><a href="/collections/liberte" class="brands-link">Liberte</a></li>
    <li class="brands-list-element"><a href="/collections/natalie-tonkal" class="brands-link">Natalie Tonkal</a></li>
    <li class="brands-list-element"><a href="/collections/anna-maslovskaya" class="brands-link">Anna Maslovskaya</a></li>
    <li class="brands-list-element"><a href="/collections/hubris" class="brands-link">HUBRIS</a></li>
    <li class="brands-list-element"><a href="/collections/atauchi" class="brands-link">Atauchi</a></li>
    <li class="brands-list-element"><a href="/collections/arha" class="brands-link">Arha</a></li>
    <li class="brands-list-element"><a href="/collections/silvester" class="brands-link">Silvester</a></li>
    <li class="brands-list-element"><a href="/collections/odor-objects" class="brands-link">Odor objects</a></li>
    <li class="brands-list-element"><a href="/collections/perfume-opera" class="brands-link">Perfume Opera</a></li>
    <li class="brands-list-element"><a href="/collections/veta-perfume" class="brands-link">Veta Perfume</a></li>
    <li class="brands-list-element"><a href="/collections/behurr" class="brands-link">Behurr</a></li>
    <li class="brands-list-element"><a href="/collections/malkenza" class="brands-link">Malkenza</a></li>
  </ul>
</div>

{{ 'menu-mob.js' | asset_url | script_tag }}
