<div class="text-page__contacts">
  <h1 class="heading heading_text-page">Контакты</h1>
	<div class="text-page text-page_flex">
		<div class="text-page__contact">
			<h3 class="text-page__contact-type">Телефон:</h3>
				<a class="text-page__contact-data" href="tel:+79990017243">+79990017243</a>
		</div>
		<div class="text-page__contact">
			<h3 class="text-page__contact-type">E-mail:</h3>
				<a class="text-page__contact-data" href="mailto:hello@symptom.jewelry">HELLO@SYMPTOM.JEWELRY</a>
		</div>
			<h3 class="text-page__contact-type">Наш адрес:</h3>
				<div class="text-page__contact-address">
					<div class="text-page__contact">
						<span class="text-page__contact-data">Москва​, Маросейка 15, метро Китай-город</span>
							<span class="text-page__contact-data">Работаем каждый день с 12 до 22</span>
              <iframe class="text-page__contact-map"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.2587708505959!2d37.636339088120145!3d55.75789275340641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b8c8079ce7f%3A0x10caf2e0b42034b5!2sSYMPTOM.JEWELRY!5e0!3m2!1sru!2sru!4v1617220353665!5m2!1sru!2sru"
                      width="800"
                      height="600"
                      style="border:0;"
                      allowfullscreen=""
                      loading="lazy">
              </iframe>
          </div>
				</div>
		<p class="text-page__registered">ИП Зорипов А.И.<br>
		ИНН 770300748961<br>
		ОГРНИП 319774600399899</p>
	</div>
</div>